# This file makes sure NPM downloads @impactinc scoped packages from GCP artifact registry
# - It should be committed to source control
# - It should not contain your Github Personal Access Token or other secrets.
# - To use it locally, run the auth helper: https://www.npmjs.com/package/google-artifactregistry-auth
@impactinc:registry=https://us-npm.pkg.dev/orgmgt-cicd/npm-private/
//us-npm.pkg.dev/orgmgt-cicd/npm-private/:always-auth=true